<script src="../../../../../../../../AppData/Local/Temp/Rar$DRa17904.34813/template-events-calendar/admin/feedback/js/admin-feedback.js"></script>
<script src="../../../../../../../../AppData/Local/Temp/Rar$DRa17904.33147/template-events-calendar/admin/feedback/js/admin-feedback.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/newEvent">Link</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
				   aria-haspopup="true" routerLink="/search" aria-expanded="false">
					details
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
<!--  <section class="banner">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h2>lorem ipsum dolor sit amet </h2>
          <p>


            May musical arrival beloved luckily adapted him. Shyness mention married son she his started now. Rose if as
            past near were. To graceful he elegance oh moderate attended entrance pleasure </p>
          <a href="#" class="btnRm">read more </a>
        </div>
      </div>
    </div>


  </section>-->


<!--<body>
<div class="card">
  <div class="card-image"></div>
  <div class="card-text">
	<span class="date">4 days ago</span>
	<h2>Post One</h2>
	<p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
  </div>
  <div class="card-stats">
	<div class="stat">
	  <div class="value">4<sup>m</sup></div>
	  <div class="type">read</div>
	</div>
	<div class="stat border">
	  <div class="value">5123</div>
	  <div class="type">views</div>
	</div>
	<div class="stat">
	  <div class="value">32</div>
	  <div class="type">comments</div>
	</div>
  </div>
</div>
<div class="card">
  <div class="card-image card2"></div>
  <div class="card-text card2">
	<span class="date">1 week ago</span>
	<h2>Post Two</h2>
	<p>Adipisicing elit. Ducimus, repudiandae corrupti amet temporibus omnis provident illum maxime quod. Lorem ipsum dolor</p>
  </div>
  <div class="card-stats card2">
	<div class="stat">
	  <div class="value">7<sup>m</sup></div>
	  <div class="type">read</div>
	</div>
	<div class="stat border">
	  <div class="value">7152</div>
	  <div class="type">views</div>
	</div>
	<div class="stat">
	  <div class="value">21</div>
	  <div class="type">comments</div>
	</div>
  </div>
</div>
<div class="card">
  <div class="card-image card3"></div>
  <div class="card-text card3">
	<span class="date">3 week ago</span>
	<h2>Post Three</h2>
	<p>Repudiandae corrupti amet temporibus omnis provident illum maxime. Ducimus, lorem ipsum dolor adipisicing elit</p>
  </div>
  <div class="card-stats card3">
	<div class="stat">
	  <div class="value">5<sup>m</sup></div>
	  <div class="type">read</div>
	</div>
	<div class="stat border">
	  <div class="value">3021</div>
	  <div class="type">views</div>
	</div>
	<div class="stat">
	  <div class="value">15</div>
	  <div class="type">comments</div>
	</div>
  </div>
</div>
<app-events-list></app-events-list>
</body>-->



