<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/newEvent">Link</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
				   aria-haspopup="true" routerLink="/search" aria-expanded="false">
					details
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item float-end">
				<a class="nav-link " routerLink="/login" href="#" tabindex="-1" aria-disabled="true">login</a>
			</li>
			<form class="form-inline my-2 my-lg-0">
				<input #myInput (keyup.enter)="doSearch(myInput.value)" class="form-control mr-sm-2" type="search"
				       placeholder="Search" aria-label="Search">
				<button (click)="doSearch(myInput.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit">
					Search
				</button>
			</form>
			<li class="nav-item float-right">
				<a class="nav-link " routerLink="/login" href="#" tabindex="-1" aria-disabled="true">login</a>
			</li>
		</ul>
	
	
	</div>
</nav>-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
	<a class="navbar-brand" href="#">WebSiteName</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
	        aria-expanded="true">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navb" class="navbar-collapse collapse hide">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/events">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">new event</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/newEvent">Page 2</a>
			</li>
			<form class="form-inline my-2 my-lg-0">
				<input #myInput (keyup.enter)="doSearch(myInput.value)" class="form-control mr-sm-2" type="search"
				       placeholder="Search" aria-label="Search">
				<button (click)="doSearch(myInput.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit">
					Search
				</button>
			</form>
		</ul>
		<ul class="nav navbar-nav ml-auto">
			<li *ngIf="authenticated">
				<button routerLink="/newEvent" mat-raised-button color="primary" mat-button>
					<mat-icon matSuffix>add_box</mat-icon>
					creat an event
				</button>
			</li>
		</ul>
		
		<ul class="nav navbar-nav ml-auto">
			
			<li class="nav-item">
				<a *ngIf="!authenticated" routerLink="/login" class="nav-link" href="#"><span
						class="fas fa-sign-in-alt"></span> Login</a>
			</li>
			
			<li *ngIf="authenticated">
				<button [matMenuTriggerFor]="aboveMenu" aria-haspopup="true" mat-button="" aria-label="Select a version"
				
				        class="mat-focus-indicator mat-tooltip-trigger mat-menu-trigger mat-button mat-button-base"
				        aria-describedby="cdk-describedby-message-0"><span
						class="mat-button-wrapper"><span style="color:white">{{userName}}</span>  <mat-icon role="img"
				                                                                                            color="primary"
				                                                                                            class="mat-icon  material-icons mat-icon-no-color"
				                                                                                            aria-hidden="true"
				                                                                                            data-mat-icon-type="font">arrow_drop_down</mat-icon></span><span
						class="mat-ripple mat-button-ripple"></span><span
						class="mat-button-focus-overlay"></span>
				</button>
				<mat-menu #aboveMenu="matMenu" yPosition="above">
					<button mat-menu-item>profile</button>
					<button mat-menu-item>bookmarked</button>
					<button (click)="logout()" mat-menu-item><i class="material-icons">&#xE8AC;</i>logout</button>
				</mat-menu>
			</li>
			
			<!--
			<li class="navbar-nav ml-auto">
				
				<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
					<button
							mat-flat-button id="dropdownManual" ngbDropdownAnchor
							(focus)="myDrop.open()"><img
							src="src/assets/images/profilepic.png" class="avatar" alt="Avatar"> Paula Wilson <b
							class="caret"></b></button>
					<div ngbDropdownMenu class="dropdown-menu">
						<a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
						<a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
						<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
					</div>
				</div>
			</li>-->
		</ul>
	</div>
</nav>
<!--  <section class="banner">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h2>lorem ipsum dolor sit amet </h2>
          <p>


            May musical arrival beloved luckily adapted him. Shyness mention married son she his started now. Rose if as
            past near were. To graceful he elegance oh moderate attended entrance pleasure </p>
          <a href="#" class="btnRm">read more </a>
        </div>
      </div>
    </div>


  </section>-->


<!--<body>
<div class="card">
  <div class="card-image"></div>
  <div class="card-text">
	<span class="date">4 days ago</span>
	<h2>Post One</h2>
	<p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
  </div>
  <div class="card-stats">
	<div class="stat">
	  <div class="value">4<sup>m</sup></div>
	  <div class="type">read</div>
	</div>
	<div class="stat border">
	  <div class="value">5123</div>
	  <div class="type">views</div>
	</div>
	<div class="stat">
	  <div class="value">32</div>
	  <div class="type">comments</div>
	</div>
  </div>
</div>
<div class="card">
  <div class="card-image card2"></div>
  <div class="card-text card2">
	<span class="date">1 week ago</span>
	<h2>Post Two</h2>
	<p>Adipisicing elit. Ducimus, repudiandae corrupti amet temporibus omnis provident illum maxime quod. Lorem ipsum dolor</p>
  </div>
  <div class="card-stats card2">
	<div class="stat">
	  <div class="value">7<sup>m</sup></div>
	  <div class="type">read</div>
	</div>
	<div class="stat border">
	  <div class="value">7152</div>
	  <div class="type">views</div>
	</div>
	<div class="stat">
	  <div class="value">21</div>
	  <div class="type">comments</div>
	</div>
  </div>
</div>
<div class="card">
  <div class="card-image card3"></div>
  <div class="card-text card3">
	<span class="date">3 week ago</span>
	<h2>Post Three</h2>
	<p>Repudiandae corrupti amet temporibus omnis provident illum maxime. Ducimus, lorem ipsum dolor adipisicing elit</p>
  </div>
  <div class="card-stats card3">
	<div class="stat">
	  <div class="value">5<sup>m</sup></div>
	  <div class="type">read</div>
	</div>
	<div class="stat border">
	  <div class="value">3021</div>
	  <div class="type">views</div>
	</div>
	<div class="stat">
	  <div class="value">15</div>
	  <div class="type">comments</div>
	</div>
  </div>
</div>
<app-events-list></app-events-list>
</body>-->



