.add {

  /*  margin-top: 5px;
    border-radius: 5px 5px;
    !*border: 1px solid;
    min-width: 5px*!
    width: 200px;
    height: 55px;
    border: 1px solid black;*/
}

.crs {
  margin-top: 35px;
  margin-bottom: 30px;
}

.add:hover {
  opacity: 1;
}


/*timepicker .k-picker-wrap {
    border-width: 1px 1px;

}*/
.i-time {
  color: rgba(0, 0, 0, 0.54)
}

.button-add {
  float: right;
}

igx-time-picker {
  width: 400px;
}

$margin: 8px 8px 8px 0px;
$actions-height: 52px;

.action-buttons {
  display: flex;
  margin-left: 24px;
  justify-content: flex-end;
  align-items: center;
  height: $actions-height;

  [igxButton] {
    margin: $margin;
  }
}

.cdk-overlay-pane {
  width: available !important;
  height: available !important;
  max-width: 100% !important;
}

.mat-dialog-container {
  max-width: available !important;
  max-height: available !important;
  resize: both;
}


.uploadfilecontainer {
  //background-image: url("../../assets/cloud-2044823_960_720.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

.image-container {
  width: 650px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  border: 1px solid blue;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: 100%;
}

:host {
  display: block;
}

.uploader-wrapper {
  position: relative;
  width: 850px;
  height: 350px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}


.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.uploadfilecontainer {
  //background-image: url("../../icons/add.svg");
  //background-image;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

.control-buttons {
  width: 650px;
  margin: 5px auto 0;
  justify-content: center
}

strong {
  font-size: 15px
}

.submit-bt {
  display: flex;
  justify-content: center;
}


div .submit-bt .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  min-width: 120px;
  line-height: 65px;
}
