<mat-dialog-content>
	<image-cropper
			[imageChangedEvent]="imageChangedEvent"
			[maintainAspectRatio]="true"
			[autoCrop]="false"
			[aspectRatio]="2"
			format="png"
			(imageCropped)="imageCropped($event)"
			(imageLoaded)="imageLoaded()"
			(cropperReady)="cropperReady()"
			(loadImageFailed)="loadImageFailed()"
	></image-cropper>  <!-- Image Cropper -->
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
	<button (click)="crop()" mat-button [mat-dialog-close]="close" cdkFocusInitial>Install</button>
</mat-dialog-actions>
