<!--<div class="container head">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

</div>-->
<div class="body">
    
    <app-navbar></app-navbar>
    
    <div class=" container">
        
        <router-outlet></router-outlet>
    
    
    </div>
</div>

<!--
<body>ss
<div class="wrapper">
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eligendi, esse labore quasi quibusdam repudiandae
    tempora ullam! Atque beatae cupiditate, dignissimos doloremque placeat qui tempore. Alias ex ipsum magnam optio
    porro? Architecto consequuntur delectus, doloremque explicabo impedit incidunt, ipsam iste libero molestias nihil
    obcaecati odio praesentium
     tempore, unde veniam veritatis? Ad assumenda blanditiis corporis culpa
    delectus ducimus esse et excepturi fuga impedit, ipsa, molestiae nesciunt placeat porro quaerat quia quos recusandae
    sint veniam vitae! Commodi fuga impedit sunt voluptates.
  </div>

  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consequuntur distinctio ea et hic ipsam
    libero magni minima molestias nam possimus provident quis reiciendis saepe sapiente sed sequi, sit!
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eligendi, esse labore quasi quibusdam repudiandae
    tempora ullam! Atque beatae cupiditate, dignissimos doloremque placeat qui tempore. Alias ex ipsum magnam optio
    porro? Architecto consequuntur delectus, doloremque explicabo impedit incidunt, ipsam iste libero molestias nihil
    obcaecati odio praesentium reprehenderit tempore, unde veniam veritatis? Ad assumenda blanditiis corporis culpa
    delectus ducimus esse et excepturi fuga impedit, ipsa, molestiae nesciunt placeat porro quaerat quia quos recusandae
    sint veniam vitae! Commodi fuga impedit sunt voluptates.
  </div>

  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consequuntur distinctio ea et hic ipsam
    libero magni minima molestias nam possimus provident quis reiciendis saepe sapiente sed sequi, sit!
  </div>


</div>


</body>-->

<!--
<body>
<div class="wrapper">
  <div>Lorem ipsum dolor sit.</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illo ipsum molestiae rerum voluptatem. Amet
    aperiam consectetur delectus, deserunt dolorem et hic in ipsum labore libero mollitia nisi odio, pariatur quasi
    unde, veniam veritatis. Consequatur maxime quisquam sint soluta veritatis!
  </div>
  <div class="nested">
    <div>lorem</div>
    <div>lorem</div>
    <div>lorem</div>
    <div>lorem</div>
    <div>lorem</div>
    <div>lorem</div>
    <div>lorem</div>
    <div>lorem</div>
    <div>lorem</div>
  </div>
  <div>Lorem ipsum dolor sit.</div>
  <div>Lorem ipsum dolor sit.</div>
  <div>Lorem ipsum dolor sit.</div>
</div>
 <
  <div class="wrapper">
    <div class="box box1">Box 1</div>
    <div class="box box2">Box 2</div>
    <div class="box box3">Box 3</div>
    <div class="box box4">Box 4</div>
  </div>
</body>-->

<!--*********boooootstrapppppppppp-->
<!--<div class="container">
  <div class="jumbotron">
    <h1 class="display-1">
      hello world
    </h1>
    <p class="lead">
      Lorem ipsum dolor sit amet.
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur.</p>
    <button class="btn btn-info">learn more</button>

  </div>

</div>

<div class="jumbotron jumbotron-fluid bg-dark text-light">
  <div class="container">
  <h1 class="display-1">
    hello world
  </h1>
  <p class="lead">
    Lorem ipsum dolor sit amet.
  </p>
  <button class="btn btn-success">learn more</button>


</div>
</div>-->


<!--<div>
  <h1 class="bg-dark text-white">this is an h1 block</h1>
  <h1 class="bg-dark text-white d-inline">this is an h1 inline</h1>
  <h1 class="bg-dark d-none text-white d-md-block">hidden on xs</h1>
</div>
<div class="container">
  <h1> current breakpoint is
    <span class="d-inline d-sm-none">XS</span>
    <span class="d-none d-sm-inline d-md-none">SM</span>
    <span class="d-none d-md-inline d-lg-none">MD</span>
    <span class="d-none d-lg-inline d-xl-none">LG</span>
    <span class="d-none d-xl-inline">XL</span>
  </h1>
</div>


<div class="container">
  <span class="border"></span>
  <span class="border"></span>
  <span class="border"></span>
  <span class="border shadow-lg border-right-0 border-danger"></span>
</div>-->
<!--<div class="container">
  <h1 class="p-0 bo bg-info d-inline">p-0</h1>
  <h1 class="p-1  bg-info d-inline">p-1</h1>
  <h1 class="p-2  bg-info d-inline">p-2</h1>
  <h1 class="p-3 bg-info d-inline">p-3</h1>
  <h1 class="p-4 mr-3  bg-info d-inline">p-4</h1>
  <h1 class="p-5 bg-info d-inline">p-5</h1>
</div>-->

<!--<div class="container">
  <form>
    <div class="form-group ">
      <label for="email">email address</label>
      <input id="email" class="form-control form-control-lg" type="email" placeholder="enter your email">
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input id="password" class="form-control" type="password" placeholder="enter your password">
    </div>

  </form>
</div>-->


<!--
<div class="col">
</div>
<div class="container">
	<ul class="nav nav-tabs   justify-content-around ">
		<li class="nav-item">
			<a class="nav-link ">nav1</a>
		</li>
		<li class="nav-item">
			<a class="nav-link">nav2</a>
		</li>
		<li class="nav-item">
			<a class="nav-link">nav3</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled">nav4</a>
		</li>
	</ul>
</div>


<div class="container">
	
	<div class="row border border-light bg-danger">
		<div class="col-3 col-xl-3 bg-info">
			1 of 3
		</div>
		<div class="col-3 col-xl-6 mr-6 bg-dark">
			2 of 3
		</div>
		<div class="col-3 col-xl-3- bg-primary">
			3 of 3
		</div>
	</div>
</div>

<div class="container">
	<div class="row border align-items-center " style="height: 300px">
		<div class="col border ">
			<h3>thing one</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eveniet molestiae mollitia nostrum
				numquam obcaecati quia, rem sit veniam vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Autem, necessitatibus!</p>
		</div>
		<div class="col border align-self-end ">
			<h3>thing two</h3>
			<p>Lorem ipsum dolor sit amet, consectetur.</p>
			<div class="row">
				<div class="col-4 offset-3 border align-self-end">he</div>
				<div class="col-4 border offset-1 align-self-start">dke</div>
			</div>
		
		
		</div>
		<div class="col border align-self-lg-start">
			<h3>thing three</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, fugiat?</p>
		</div>
	</div>
</div>
-->


<!--<div class="container">
	<div class="row">
		<div class="col-3">
			<div class="card shadow-lg">
				<div class="card-header">
					cardHeader
				</div>
				<div class="card-body">
					<div class="card-text">ol</div>
				</div>
			</div>
		</div>
	</div>

</div>-->


<!--<div class="container">
	<div class="row mt-5 justify-content-center">
		<div class="card card-custom mx-2 mb-3">
			<a href="https://www.netflix.com/fr/">
				<img src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set&#45;&#45;icons-by-dakirby/256/Netflix.png"
				     alt="" class="card-img">
			</a>
		</div>
		<div class="card card-custom mx-2 mb-3">
			<a href="https://www.hulu.com">
				<img src="https://apprecs.com/ios-meta/app-icons/256/376510438.jpg" alt="" class="card-img">
			</a>
		</div>
		<div class="card card-custom mx-2 mb-3">
			<a href="https://www.netflix.com/fr/">
				<img src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set&#45;&#45;icons-by-dakirby/256/Netflix.png"
				     alt="" class="card-img">
			</a>
		</div>
		<div class="card card-custom mx-2 mb-3">
			<a href="https://www.hulu.com">
				<img src="https://apprecs.com/ios-meta/app-icons/256/376510438.jpg" alt="" class="card-img">
			</a>
		</div>
		<div class="card card-custom mx-2 mb-3">
			<a href="https://www.netflix.com/fr/">
				<img src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set&#45;&#45;icons-by-dakirby/256/Netflix.png"
				     alt="" class="card-img">
			</a>
		</div>
		<div class="card card-custom mx-2 mb-3">
			<a href="https://www.hulu.com">
				<img src="https://apprecs.com/ios-meta/app-icons/256/376510438.jpg" alt="" class="card-img">
			</a>
		</div>
	
	
	</div>
</div>-->
<!--<div class="container">
	
	<div class="row mt-5 justify-content-center">
		<div *ngFor="let item of events">
			<div class="card card-custom mx-2 mb-3" style="max-width:175px">
				<div class="card-header">
					{{item.name}}
				</div>
				<div class="card-body">
					{{item.date}}
				</div>
			</div>
		</div>
		
	</div>
</div>-->
