<div class="justify-content-start mb-3 m-1">
	<div class="row " style="margin-left: 3px">
		<h5>Events around:</h5>
	</div>
	<div class="row">
		<nav class="nav">
			<a href="" class="nav-link">Java</a>
			<a href="" class="nav-link">Python</a>
			<a href="" class="nav-link">SQL</a>
			<a href="" class="nav-link">TypeScript</a>
			<a href="" class="nav-link">Java</a>
			<a href="" class="nav-link">Python</a>
			<a href="" class="nav-link">SQL</a>
			<a href="" class="nav-link">TypeScript</a>
		
		</nav>
	</div>
</div>



